:root {
    --textGray: rgb(19, 70, 25);
    --colorBG: rgb(146, 146, 146);
    --codeBlockBG: rgb(57, 112, 64);
    --textCodeBlock: rgb(48, 48, 48);
}

/* This will size conversions as follows: 10px = 1rem */
html {
    font-size: 62.5%;
}

body {
    background-color: var(--colorBG);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--textGray);
    line-height: 1.5;
}

header {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

header h1 {   
    font-size: 5.5rem;
    /* margin: 1.6rem; */
}

header p {
    font-size: 1.6rem;
    /* width: 50%; */
    /* margin: 1.0rem auto 1.0rem auto; */
}

main {
    width: 95%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-left: -1.0rem;
    margin-right: -1.0rem; */
    justify-content: center;
}

.card {
    flex: 1 0 100%;
    /* max-width: 33.333%; */
    border: 0.3rem dashed var(--textGray);
    margin: 0.8rem;
    margin-bottom: 2.4rem;
    padding: 1.0rem;
    transition: flex-basis 500ms linear;
}

.card-h {
    position: relative;
    font-size: 3.2rem;
    font-weight: bolder;
    margin: -3.0rem 0rem 0rem 0rem;
    padding: 0.4rem;
    background-color: var(--colorBG);
    border: 2px solid;
    border-radius: 5px;
}

/* text inside the box excluding the heading */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    margin: 1.0rem 1.0rem 1.0rem 1.0rem;
}

.blurb {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

/* .card-content .codeblock {
    flex-grow: 1;
} */

.codeblock {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 19, 19);
    margin: 1.0rem;
    padding: 1.0rem;
    font-size: 1.3rem;
    background-color: var(--codeBlockBG);
    border-radius: 8px;
    /* flex-grow: 1; */
    white-space: pre-wrap;
    overflow:auto;
    tab-size: 4;
    display: flex;
    align-items: center;
    /* border: 8px var(--codeBlockBG) solid; */
}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-column:last-child {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px) {
    .card {
        flex: 0 0 30%;
        max-width: 30%;
    }
    header {
        width: 75%;
    }
}